<h2>Employee Create Form Component</h2>

<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Create Employee</h3>
		</div>
	</div>
	<div class="panel-body">
		<!------------ Boolean expressions to show and hide validation faliure messages ------------->
		<!-- <div class="form-group" [ngClass]="{'has-error': 
													employeeForm.get('fullName').errors 
													&& 
													(employeeForm.get('fullName').touched || 
													employeeForm.get('fullName').dirty)}"> -->
		<!------------ Boolean expressions to show and hide validation faliure messages ------------->

		<!------------ Replacing boolean expressions to implement component validation logic ------------>
		<div class="form-group" [ngClass]="{'has-error': formErrors.fullName}">
		<!------------ Replacing boolean expressions to implement component validation logic ------------>


			<label for="fullName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-8">
				<input type="text" id="fullName" class="form-control" formControlName="fullName" (blur)="showValidationErrors()">
				<!-- <label>{{ fullNameLength }}</label> -->
				<!------------ Boolean expressions to show and hide validation faliure messages ------------->
				<!-- <span class="help-block" *ngIf="employeeForm.get('fullName').errors 
												&& 
												(employeeForm.get('fullName').touched || 
												employeeForm.get('fullName').dirty)">
					<span *ngIf="employeeForm.get('fullName').errors.required">
						Full Name is required
					</span>
					<span *ngIf="employeeForm.get('fullName').errors.minlength || 
							employeeForm.get('fullName').errors.maxlength">
						Full Name Must be greater than 2 characters and less than 10 characters
					</span>
				</span> -->
				<!------------ Boolean expressions to show and hide validation faliure messages ------------->

				<!------------ Replacing boolean expressions to implement component validation logic ------------>
				<span class="help-block" *ngIf="formErrors.fullName">
					{{ formErrors.fullName }}
				</span>
				<!------------ Replacing boolean expressions to implement component validation logic ------------>
			</div>
		</div>
		<div class="form-group" [ngClass]="{'has-error': formErrors.contactPreference}">
			<label class="col-sm-2 control-label">Contact Preference</label>

			<div class="col-sm-8">
				<label class="radio-inline">
					<input type="radio" value="email" formControlName="contactPreference" id="contactPreference"> Email
				</label>
				<label class="radio-inline">
					<input type="radio" value="phone" formControlName="contactPreference" id="contactPreference"> Phone
				</label>
				<span class="help-block" *ngIf="formErrors.contactPreference">{{ formErrors.contactPreference }}</span>
			</div>
		</div>
		<div class="form-group" [ngClass]="{'has-error': formErrors.email}">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-8">
				<input type="text" id="email" class="form-control" formControlName="email" (blur)="showValidationErrors()">
				<span class="help-block" *ngIf="formErrors.email">{{ formErrors.email }}</span>
			</div>
		</div>
		<div class="form-group" [ngClass]="{'has-error': formErrors.phone}">
			<label for="phone" class="col-sm-2 control-label">Phone</label>
			<div class="col-sm-8">
				<input type="text" id="phone" class="form-control" formControlName="phone" (blur)="showValidationErrors()">
				<span class="help-block" *ngIf="formErrors.phone">{{ formErrors.phone }}</span>
			</div>
		</div>
		<div class="well">
			<div formGroupName="skills">
				<div class="form-group" [ngClass]="{'has-error': formErrors.skillName}">
					<label for="skillName" class="col-sm-2 control-label">Skill Name</label>
				
					<div class="col-sm-4">
						<input type="text" class="form-control" id="skillName" placeholder="Skill Name" formControlName="skillName" 
						(blur)="showValidationErrors()">
						<span class="help-block" *ngIf="formErrors.skillName">{{ formErrors.skillName }}</span>	
					</div>
				</div>
				<div class="form-group" [ngClass]="{'has-error': formErrors.experienceInYears}">
					<label for="experienceInYears" class="col-sm-2 control-label">Experience</label>

					<div class="col-sm-4">
						<input type="text" class="form-control" id="experienceInYears" placeholder="Experience in Years" formControlName="experienceInYears" (blur)="showValidationErrors()">
						<span class="help-block" *ngIf="formErrors.experienceInYears">{{ formErrors.experienceInYears }}</span>	
					</div>
				</div>
				<div class="form-group" [ngClass]="{'has-error': formErrors.proficiency}">
					<label class="col-sm-2 control-label">Proficiency</label>

					<div class="col-sm-8">
						<label class="radio-inline">
							<input type="radio" value="beginner" formControlName="proficiency" id="proficiency" (blur)="showValidationErrors()"> Beginner
						</label>
						<label class="radio-inline">
							<input type="radio" value="intermediate" formControlName="proficiency" id="proficiency" (blur)="showValidationErrors()"> Intermediate
						</label>
						<label class="radio-inline">
							<input type="radio" value="advanced" formControlName="proficiency" id="proficiency" (blur)="showValidationErrors()"> Advanced
						</label>
						<span class="help-block" *ngIf="formErrors.proficiency">{{ formErrors.proficiency }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-toolbar">
			<button class="btn btn-primary" type="submit">Save</button>
			<button class="btn btn-primary" type="button" (click)="onSetValueClick()">Set Value</button>
			<button class="btn btn-primary" type="button" (click)="onPatchValueClick()">Patch Some Values</button>
			<button class="btn btn-primary" type="button" (click)="onPatchAllValueClick()">Patch All Values</button>
			<button class="btn btn-primary" type="button" (click)="onLogKeyValuePairsClick()">Log Key Value Pairs</button>
			<button class="btn btn-primary" type="button" (click)="onShowValidationErrorsClick()">Show Validation Errors</button>
		</div>
	</div>
</form>

<table border="1">
	<tr>
		<th style="padding: 10px">FormGroup</th>
		<th style="padding: 10px">FormControl (fullName)</th>
	</tr>
	<tr>
		<td style="padding: 10px">
			Touched: {{ employeeForm.touched }}<br/>
			Dirty: {{ employeeForm.dirty }} <br>
			Valid: {{ employeeForm.valid }} <br>
			Form Values: {{ employeeForm.value | json }} 
		</td>
		<td style="padding: 10px">
			Touched: {{ employeeForm.get("fullName").touched }}<br/>
			Dirty: {{ employeeForm.get("fullName").dirty }} <br>
			Valid: {{ employeeForm.get("fullName").valid }} <br>
			Form Values: {{ employeeForm.get("fullName").value | json }} 
		</td>
	</tr>
</table>