<h2>Employee Create Form Component</h2>

<form class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Create Employee</h3>
		</div>
	</div>
	<div class="panel-body">
		<div class="form-group" [ngClass]="{'has-error': employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)}">
			<label for="fullName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-8">
				<input type="text" id="fullName" class="form-control" formControlName="fullName">
				<!-- <label>{{ fullNameLength }}</label> -->
				<span class="help-block" *ngIf="employeeForm.get('fullName').errors && (employeeForm.get('fullName').touched || employeeForm.get('fullName').dirty)">
					<span *ngIf="employeeForm.get('fullName').errors.required">Full Name is required</span>
					<span *ngIf="employeeForm.get('fullName').errors.minlength || employeeForm.get('fullName').errors.maxlength">Full Name Must be greater than 2 characters and less than 10 characters</span>
				</span>
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-8">
				<input type="text" id="email" class="form-control" formControlName="email">
			</div>
		</div>
		<div formGroupName="skills">
			<div class="form-group">
				<label for="skillName" class="col-sm-2 control-label">Skill</label>
			
				<div class="col-sm-4">
					<input type="text" class="form-control" id="skillName" placeholder="Skill Name" formControlName="skillName">	
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" placeholder="Experience in Years" formControlName="experienceInYears">	
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Proficiency</label>
				<div class="col-sm-8">
					<label class="radio-inline">
						<input type="radio" value="beginner" formControlName="proficiency" id="proficiency"> Beginner
					</label>
					<label class="radio-inline">
						<input type="radio" value="intermediate" formControlName="proficiency" id="proficiency"> Intermediate
					</label>
					<label class="radio-inline">
						<input type="radio" value="advanced" formControlName="proficiency" id="proficiency"> Advanced
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="btn-toolbar">
			<button class="btn btn-primary" type="submit">Save</button>
			<button class="btn btn-primary" type="button" (click)="onSetValueClick()">Set Value</button>
			<button class="btn btn-primary" type="button" (click)="onPatchValueClick()">Patch Some Values</button>
			<button class="btn btn-primary" type="button" (click)="onPatchAllValueClick()">Patch All Values</button>
			<button class="btn btn-primary" type="button" (click)="onLogKeyValuePairsClick()">Log Key Value Pairs</button>
		</div>
	</div>
</form>

<table border="1">
	<tr>
		<th style="padding: 10px">FormGroup</th>
		<th style="padding: 10px">FormControl (fullName)</th>
	</tr>
	<tr>
		<td style="padding: 10px">
			Touched: {{ employeeForm.touched }}<br/>
			Dirty: {{ employeeForm.dirty }} <br>
			Valid: {{ employeeForm.valid }} <br>
			Form Values: {{ employeeForm.value | json }} 
		</td>
		<td style="padding: 10px">
			Touched: {{ employeeForm.get("fullName").touched }}<br/>
			Dirty: {{ employeeForm.get("fullName").dirty }} <br>
			Valid: {{ employeeForm.get("fullName").valid }} <br>
			Form Values: {{ employeeForm.get("fullName").value | json }} 
		</td>
	</tr>
</table>